<!DOCTYPE html>
<html>
<head>
    <title>Questions for {{ lesson.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#questionForm').on('submit', function(event){
                event.preventDefault();
                $.ajax({
                    url: "{% url 'submit_answers' lesson.id %}",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(data){
                        if (data.success) {
                            window.location.href = "{% url 'view_results' lesson.id %}?score=" + data.total_score;
                        } else {
                            alert('There was an error submitting your answers.');
                        }
                    },
                    error: function(){
                        alert('An unexpected error occurred.');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Questions for {{ lesson.name }}</h1>
    <form id="questionForm" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                {% if question.type == 'truefalse' %}
                    <h2>True/False</h2>
                    <h3>{{ question.statement }}</h3>
                    <input type="radio" name="question_{{ question.id }}" value="True"> True
                    <input type="radio" name="question_{{ question.id }}" value="False"> False
                {% elif question.type == 'mcqs' %}
                    <h2>Multiple Choice</h2>
                    <h3>{{ question.statement }}</h3>
                    <ul>
                        <li><input type="radio" name="question_{{ question.id }}" value="A"> A: {{ question.questionmcqs.option_a }}</li>
                        <li><input type="radio" name="question_{{ question.id }}" value="B"> B: {{ question.questionmcqs.option_b }}</li>
                        <li><input type="radio" name="question_{{ question.id }}" value="C"> C: {{ question.questionmcqs.option_c }}</li>
                        <li><input type="radio" name="question_{{ question.id }}" value="D"> D: {{ question.questionmcqs.option_d }}</li>
                    </ul>
                {% elif question.type == 'fill_in_blank' %}
                    <h2>Fill in the Blank</h2>
                    <h3>{{ question.statement }}</h3>
                    <input type="text" name="question_{{ question.id }}">
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>

    </form>
    <a href="{% url 'student_lessons' lesson.cohort.id %}">Back to Lessons</a>
    <br>
        <hr>
        <br>

        <a href="{% url 'home'%}"class="btn">Home</a>
</body>
</html>
