<!DOCTYPE html>
<html>
<head>
    <title>View Classes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>
    <h1>Classes</h1>
    <ul>
        {% for cohort in cohorts %}
        <li><a href="{% url 'view_lessons_for_cohort' cohort.id %}">{{ cohort.name }}</a></li>
        {% empty %}
            <li>No Classes available.</li>
        {% endfor %}
    </ul>
    <br>
        <hr>
        <br>

        <a href="{% url 'home'%}"class="btn">Home</a>
</body>
</html>
